<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="${una}/img/favicon.png" type="image/x-icon">
    <link rel="shortcut icon" href="${una}/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="${una}/css/bootstrap.css" />
    <link rel="stylesheet" href="${una}/css/font-awesome.css" />
    <link rel="stylesheet" href="${una}/css/ionicons.css" />
    <link rel="stylesheet" href="${una}/js/layer/theme/default/layer.css"/>
    <link rel="stylesheet" href="${una}/css/blog-boot.css" />
    <title>CDN配置 - 尤娜(UnaBoot)</title>
    <style>
        .table thead th{
            border-bottom: 1px solid #dee2e6 !important;
            border-top: 0 !important;
        }
        .table td{
            border-top: 1px solid #dee2e6 !important;
        }
        .table a.current{
            color: #007bff;
        }
        .layui-layer-btn .layui-layer-btn0{
            border-color: none;
            color:#fff !important;
        }
    </style>
</head>
<body>
<div class="header fixed-top">
    <div class="container">
        <div class="left">
            <a href="${una}/admin/dashboard" class="logo"><img src="${blog_logo!'${una}/img/logo.png'}" class="img-fluid" style="height: 40px"></a>
        </div>
        <div class="middle">
            <div class="inner">
                <a href="${una}/admin/dashboard"><i class="fa fa-dashboard"></i> 主页</a>
                <a href="${una}/admin/posts" ><i class="fa fa-edit"></i> 创作</a>
                <a href="${una}/admin/categories"><i class="fa fa-th-large"></i> 页面</a>
                <a href="${una}/admin/themes" ><i class="fa fa-gift"></i> 主题</a>
                <a href="${una}/admin/settings/general" class="current"><i class="fa fa-sliders"></i> 系统</a>
            </div>
        </div>
        <div class="right">
            <a href="/admin/logout" data-toggle="tooltip" data-placement="bottom" title="退出"><i class="fa fa-sign-out"></i></a>
            <a href="javascript:void(0);" id="profile" data-toggle="tooltip" data-placement="bottom" title="个人设置"><i class="fa fa-cogs"></i></a>
            <a href="${una}/index.html" data-toggle="tooltip" data-placement="bottom" title="博客主页"><i class="fa fa-home"></i></a>
        </div>
    </div>
</div>
<div class="wrapper">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="box box-solid">
                    <div class="box-header with-border">
                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                <a class="nav-link" href="${una}/admin/settings/general"><i class="fa fa-wrench"></i> 常规设置</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link active" role="tab" href="${una}/admin/settings/cdn"><i class="fa fa-rocket"></i> CDN设置</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="${una}/admin/settings/druid"><i class="fa fa-database"></i> SQL监控</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="${una}/admin/links"><i class="fa fa-link"></i> 友链设置</a>
                            </li>
                        </ul>
                    </div>
                    <div class="box-body">
                        <div class="tab-content">
                            <div class="tab-pane show fade active" id="cdn" role="tabpanel" aria-labelledby="cdn">
                                <form id="cdn-form" action="#" method="post">
                                    <div class="form-group form-inline">
                                        <span class="col-3 text-right">开启CND存储(七牛云)：</span>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="enable-open" name="enable" value="1" <#if cdn.enable == true> checked</#if> class="custom-control-input">
                                            <label class="custom-control-label" for="enable-open">开启</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" id="enable-close" name="enable" value="0" <#if cdn.enable == false> checked</#if> class="custom-control-input">
                                            <label class="custom-control-label" for="enable-close">关闭</label>
                                        </div>
                                    </div>
                                    <div class="form-group form-inline">
                                        <span class="col-3 text-right">AccessKey：</span>
                                        <input class="form-control col-5" name="accessKey" value="${cdn.accessKey}" placeholder="accessKey...">
                                    </div>
                                    <div class="form-group form-inline">
                                        <span class="col-3 text-right">SecretKey：</span>
                                        <input class="form-control col-5" name="secretKey" value="${cdn.secretKey}" placeholder="secretKey...">
                                    </div>
                                    <div class="form-group form-inline">
                                        <span class="col-3 text-right">Bucket：</span>
                                        <input class="form-control col-5" name="bucket" value="${cdn.bucket}" placeholder="bucket...">
                                    </div>
                                    <div class="form-group form-inline">
                                        <span class="col-3 text-right">Domain：</span>
                                        <input class="form-control col-5" name="domain" value="${cdn.domain}" placeholder="domain...">
                                    </div>
                                    <div class="form-group text-center">
                                        <button class="btn btn-primary submit-btn" type="button"><i class="fa fa-save"></i> 提交</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer">

</div>
</body>

<script type="text/javascript" src="${una}/js/jquery.min.js" ></script>
<script type="text/javascript" src="${una}/js/layer/layer.js"></script>
<script type="text/javascript" src="${una}/js/jquery.serializejson.js"></script>
<script type="text/javascript" src="${una}/js/bootstrap.min.js" ></script>
<script type="text/javascript" src="${una}/js/bootstrap.bundle.js" ></script>
<script>
    $(function(){
        $(".submit-btn").on("click",function(){
            var data = $("#cdn-form").serialize();
            layer.confirm("你确定需要更新CND的配置参数吗",{
                btn:['确定','取消'],
                offset:['150px']
            },function(){
                let loading = layer.load(2,{shade:[0.4,'#f0f0f0']});
                $.ajax({
                    type:'post',
                    url:'${una}/admin/settings/cdn',
                    data:data,
                    success:function(){
                        layer.close(loading);
                        layer.alert("CDN配置已经更新",{title:'提示信息',icon:1,offset:['150px']},function(){
                            window.location.reload();
                        });
                    },
                    error:function(){
                        layer.close(loading);
                        layer.alert("服务器异常",{title:'提示信息',icon:0,offset:['150px']});
                    }
                });
            })
        });
    });
</script>
</html>
