<!DOCTYPE html>
<html>

<head>
    <title>
        归档 · 谭朝红
    </title>
    <meta charset="utf-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <meta name="description" content="谭朝红的博客"/>
    <link rel="shortcut icon" href=image/favicon.png type="image/png">
    <link href="css/base-min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/zoom-image.css" rel="stylesheet">
    <script src="js/iconfont.js"></script>
    <script src="js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>window.SITE_LANGUAGE = "zh"</script>
    <script src="js/app.js"></script>
    <script type="application/javascript">
        var doNotTrack = false;
        if (!doNotTrack) {
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-142131411-1', 'auto');

            ga('send', 'pageview');
        }
    </script>
</head>

<body>
    <header class="ss-header">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="logo-link" href="./index.html">
                    <img class="logo" src="image/logo.svg">
                </a>
                <div class="-show-mobile">
                    <a id="mobile-menu-icon">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-menu"></use>
                        </svg>
                    </a>
                    <nav id="mobile-menu">
                        <div id="js-menu-search-mobile" class="navbar-search-mobile">
                            <input class="input" placeholder="请输入要搜索的关键词">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-search"></use>
                            </svg>
                        </div>
                        <a class="" href="/projects/">
                            <span>项目</span>
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-ARROW"></use>
                            </svg>
                        </a>
                        <a class="" href="/guides/">
                            <span> 指南</span>
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-ARROW"></use>
                            </svg>
                        </a>
                        <a class="-active" href="/blog/">
                            <span>博客</span>
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-ARROW"></use>
                            </svg>
                        </a>
                        <a class="" href="/activities/">
                            <span>活动</span>
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-ARROW"></use>
                            </svg>
                        </a>
                        <a class="" href="/awesome/">
                            <span>关于我</span>
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-ARROW"></use>
                            </svg>
                        </a>
                        <a href="/en/">
                            <span>English</span>
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-transfer"></use>
                            </svg>
                        </a>
                    </nav>
                </div>
            </div>
            <div class="navbar-menu -hidden-mobile">
                <div class="navbar-start">
                    <a class="navbar-item " href="/projects/">项目</a>
                    <a class="navbar-item " href="/guides/">指南</a>
                    <a class="navbar-item -active" href="/blog/">博客</a>
                    <a class="navbar-item " href="/activities/">活动</a>
                    <a class="navbar-item " href="/awesome/">关于我</a>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div id="js-menu-search" class="navbar-search">
                            <input class="input" placeholder="请输入要搜索的关键词">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-search"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="navbar-item">
                        <a class="translation" href="/en/">En</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
<div class="ss-title">归档#2018年09月</div>
<div class="home-background -no-max-width">
    <img src="image/bg.svg" />
</div>

<div class="ss-layout-container">
    <main class="ss-layout-main">
        <article class="ss-summary ss-card">
            <img class="cover" src="img/1572250748710-de8cb2a1-f1c7-405f-bb3e-aff883db6262.png" />
            <div class="container">
                <h2 class="title"><a href='/blog/ant-financial-managing-large-scale-kubernetes-clusters/'> 备战双 11！蚂蚁金服万级规模 K8s 集群管理系统如何设计？</a></h2>
                <div class="meta">
                    2019-10-28 · 沧漠
                </div>
                <div class="summary">
                    本文将分享蚂蚁金服是如何有效可靠地管理大规模 Kubernetes 集群的，并会详细介绍集群管理系统核心组件的设计。
                </div>
                <div class="tags">
                    <a class="tag" href="/tags/kubernetes/" rel="tag">#Kubernetes</a>
                </div>
            </div>
        </article>
        <article class="ss-summary ss-card">
            <img class="cover" src="img/1563524226806-e93607a3-1b77-4ca2-8c3c-0384ab966154.png" />
            <div class="container">
                <h2 class="title"><a href='/blog/sofa-weekly-20191025/'> SOFA Weekly | 每周精选【10/21 - 10/25】</a></h2>
                <div class="meta">
                    2019-10-25 · SOFA 团队
                </div>
                <div class="summary">
                    SOFA WEEKLY | 每周精选，筛选每周精华问答，同步开源进展，欢迎留言互动。
                </div>
                <div class="tags">
                    <a class="tag" href="/tags/sofa-weekly/" rel="tag">#SOFA Weekly</a>
                </div>
            </div>
        </article>
        <article class="ss-summary ss-card">
            <img class="cover" src="img/1571888105756-eace20f8-7c61-46f2-b4f8-fc6a1a2e272f.png" />
            <div class="container">
                <h2 class="title"><a href='/blog/ant-financial-happy-1024/'> 蚂蚁金服开源背后的“有意思”工程师 | 1024快乐</a></h2>
                <div class="meta">
                    2019-10-24 · SOFAStack
                </div>
                <div class="summary">
                    不管世界如何，永远永远希望开发者能感觉技术“有意思”，永远希望开发者快乐不复杂。
                </div>
                <div class="tags">
                    <a class="tag" href="/tags/1024/" rel="tag">#1024</a>
                </div>
            </div>
        </article>
        <article class="ss-summary ss-card">
            <img class="cover" src="img/1563524226806-e93607a3-1b77-4ca2-8c3c-0384ab966154.png" />
            <div class="container">
                <h2 class="title"><a href='/blog/sofa-weekly-20191018/'> SOFA Weekly | 每周精选【10/14 - 10/18】</a></h2>
                <div class="meta">
                    2019-10-18 · SOFA 团队
                </div>
                <div class="summary">
                    SOFA WEEKLY | 每周精选，筛选每周精华问答，同步开源进展，欢迎留言互动。
                </div>
                <div class="tags">
                    <a class="tag" href="/tags/sofa-weekly/" rel="tag">#SOFA Weekly</a>
                </div>
            </div>
        </article>
        <article class="ss-summary ss-card">
            <img class="cover" src="img/1571221475326-95f33fb7-ff4b-41c1-87f5-32cc5b97673d.png" />
            <div class="container">
                <h2 class="title"><a href='/blog/sofa-registry-session-storage/'> 服务注册中心 Session 存储策略 | SOFARegistry 解析</a></h2>
                <div class="meta">
                    2019-10-16 · 力鲲
                </div>
                <div class="summary">
                    本文为《剖析 | SOFARegistry 框架》第五篇，作者力鲲
                </div>
                <div class="tags">
                    <a class="tag" href="/tags/sofaregistry/" rel="tag">#SOFARegistry</a>
                    <a class="tag" href="/tags/%E5%89%96%E6%9E%90-sofaregistry-%E6%A1%86%E6%9E%B6/" rel="tag">#剖析 | SOFARegistry 框架</a>
                    <a class="tag" href="/tags/sofalab/" rel="tag">#SOFALab</a>
                </div>
            </div>
        </article>
        <article class="ss-summary ss-card">
            <img class="cover" src="img/1571291098883-38e2bd7d-512e-4089-815b-a1367eda4bfe.png" />
            <div class="container">
                <h2 class="title"><a href='/blog/ant-financial-native-cloud-financial-architecture/'> 云原生时代，什么是蚂蚁金服推荐的金融架构？</a></h2>
                <div class="meta">
                    2019-10-16 · 杨延昭
                </div>
                <div class="summary">
                    本文将分享在蚂蚁金服的演进过程当中，我们心中的云原生是什么样的，在金融领域落地的时候遇到什么问题，以及我们是怎么解决的。
                </div>
                <div class="tags">
                    <a class="tag" href="/tags/%E4%BA%91%E5%8E%9F%E7%94%9F/" rel="tag">#云原生</a>
                </div>
            </div>
        </article>
        <article class="ss-summary ss-card">
            <img class="cover" src="img/1571295410250-183069b1-6133-4ad6-abd1-db524de636be.png" />
            <div class="container">
                <h2 class="title"><a href='/blog/ant-financial-native-cloud-security-architecture/'> 当金融科技遇上云原生，蚂蚁金服是怎么做安全架构的？</a></h2>
                <div class="meta">
                    2019-10-14 · 何征宇
                </div>
                <div class="summary">

                    本文着重分享蚂蚁金服正在实践的几项云原生安全技术，包括云原生网络安全 Service Mesh，安全容器，以及机密计算。

                </div>
                <div class="tags">
                    <a class="tag" href="/tags/%E4%BA%91%E5%8E%9F%E7%94%9F/" rel="tag">#云原生</a>
                </div>
            </div>
        </article>
        <article class="ss-summary ss-card">
            <img class="cover" src="img/1563524226806-e93607a3-1b77-4ca2-8c3c-0384ab966154.png" />
            <div class="container">
                <h2 class="title"><a href='/blog/sofa-weekly-20191011/'> SOFA Weekly | 每周精选【10/7 - 10/11】</a></h2>
                <div class="meta">
                    2019-10-11 · SOFA 团队
                </div>
                <div class="summary">
                    SOFA WEEKLY | 每周精选，筛选每周精华问答，同步开源进展，欢迎留言互动。
                </div>
                <div class="tags">
                    <a class="tag" href="/tags/sofa-weekly/" rel="tag">#SOFA Weekly</a>
                </div>
            </div>
        </article>

        <article class="ss-summary ss-card">
            <img class="cover" src="img/1570697312166-2572aeac-1f43-4136-b1f1-75caf0ee15b0.png" />
            <div class="container">
                <h2 class="title"><a href='/blog/sofa-registry-data-fragmentation-synchronization-scheme/'> 服务注册中心数据分片和同步方案详解 | SOFARegistry 解析</a></h2>
                <div class="meta">
                    2019-10-10 · 明不二
                </div>
                <div class="summary">
                    本文为《剖析 |  SOFARegistry 框架》第四篇，作者明不二
                </div>
                <div class="tags">
                    <a class="tag" href="/tags/sofaregistry/" rel="tag">#SOFARegistry</a>
                    <a class="tag" href="/tags/%E5%89%96%E6%9E%90-sofaregistry-%E6%A1%86%E6%9E%B6/" rel="tag">#剖析 | SOFARegistry 框架</a>
                    <a class="tag" href="/tags/sofalab/" rel="tag">#SOFALab</a>
                </div>
            </div>
        </article>
        <article class="ss-summary ss-card">
            <img class="cover" src="img/1570501154135-13dfec9f-abca-4655-b0a2-1d2272d4ac49.jpeg" />
            <div class="container">
                <h2 class="title"><a href='/blog/sofa-enclave-confidential-computing/'> SOFAEnclave：蚂蚁金服新一代可信编程环境，让机密计算为金融业务保驾护航102年</a></h2>
                <div class="meta">
                    2019-10-05 · 闫守孟等
                </div>
                <div class="summary">
                    基于机密计算打造的新一代可信编程中间件。
                </div>
                <div class="tags">
                    <a class="tag" href="/tags/sofaenclave/" rel="tag">#SOFAEnclave</a>
                </div>
            </div>
        </article>
        <nav class="ss-pagination" data-total="13" data-current="1">
        </nav>
    </main>
    <aside class="ss-layout-aside">
        <div class="ss-aside-tags ss-card">
            <div class="ss-card">
                <h2 class="card-title">
                    归档
                </h2>
                <ul class="ss-aside-related">
                    <li><a href="#">2019年08月[1篇]</a></li>
                    <li><a href="#">2019年08月[1篇]</a></li>
                    <li><a href="#">2019年08月[1篇]</a></li>
                    <li><a href="#">2019年08月[1篇]</a></li>
                    <li><a href="#">2019年08月[1篇]</a></li>
                    <li><a href="#">2019年08月[1篇]</a></li>
                </ul>
            </div>
        </div>
    </aside>
</div>






    <footer class="ss-footer">
        <div class="container">
            <div class="links">
                <div class="cate">
                    <h2 class="cate-title">资源</h2>
                    <a class="link" href="https://github.com/ramostear">Github</a>
                    <a class="link" href="https://gitee.com/ramostear">Gitee</a>
                </div>
                <div class="cate">
                    <h2 class="cate-title">社交媒体</h2>
                    <a class="link" href="https://zhuanlan.zhihu.com/sofastack">知乎专栏</a>
                    <a class="link" href="https://weibo.com/ramostear">新浪微博</a>
                    <a class="link" href="#">今日头条</a>
                </div>
                <div class="cate">
                    <h2 class="cate-title">友情链接</h2>

                    <a class="link" href="https://ant.design/">Ant Design</a>

                    <a class="link" href="https://eggjs.org/">Egg </a>

                    <a class="link" href="https://sqlflow.org">SQLFlow</a>

                    <a class="link" href="https://tech.antfin.com/open-source">更多</a>

                </div>

            </div>
            <div class="qrcode">
                <div>
                    <img class="qrcode-img" src="image/qrcode_1.png"/>
                    <p class="qrcode-desc">微信号</p>
                </div>
                <div>
                    <img class="qrcode-img" src="image/qrcode_2.png"/>
                    <p class="qrcode-desc">QQ群</p>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>
                © 2019 ramostear
                <a href="http://icp.chinaz.com/info?q=ramostear.com">黔ICP备15000250号-1 </a>
                <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=52230102000133">贵公网安备 52230102000133号</a>
            </p>
        </div>
    </footer>
</body>
</html>