<!DOCTYPE html>
<html lang="ch">
<head>
    <title>首页 · 谭朝红</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <meta name="description" content="谭朝红的博客"/>
    <link rel="shortcut icon" href=image/favicon.png type="image/png">
    <link href="css/base-min.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
    <link href="css/zoom-image.css" rel="stylesheet">
    <script src="js/iconfont.js"></script>
    <script src="js/highlight.pack.js"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script>window.SITE_LANGUAGE = "zh"</script>
    <script src="js/app.js"></script>
    <script type="application/javascript">
        var doNotTrack = false;
        if (!doNotTrack) {
            (function (i, s, o, g, r, a, m) {
                i['GoogleAnalyticsObject'] = r;
                i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
                a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
                a.async = 1;
                a.src = g;
                m.parentNode.insertBefore(a, m)
            })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
            ga('create', 'UA-142131411-1', 'auto');

            ga('send', 'pageview');
        }
    </script>
</head>
<body>
    <header class="ss-header">
        <nav class="navbar" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <a class="logo-link" href="./index.html">
                    <img class="logo" src="image/logo.svg">
                </a>
                <div class="-show-mobile">
                    <a id="mobile-menu-icon">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#icon-menu"></use>
                        </svg>
                    </a>
                    <nav id="mobile-menu">
                        <div id="js-menu-search-mobile" class="navbar-search-mobile">
                            <input class="input" placeholder="请输入要搜索的关键词">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-search"></use>
                            </svg>
                        </div>
                        <a class="" href="/projects/">
                          <span>项目</span>
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-ARROW"></use>
                            </svg>
                        </a>
                        <a class="" href="/guides/">
                            <span> 指南</span>
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-ARROW"></use>
                            </svg>
                        </a>
                        <a class="" href="/blog/">
                            <span>博客</span>
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-ARROW"></use>
                            </svg>
                        </a>
                        <a class="" href="/activities/">
                            <span>活动</span>
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-ARROW"></use>
                            </svg>
                        </a>
                        <a class="" href="/awesome/">
                            <span>关于我</span>
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-ARROW"></use>
                            </svg>
                        </a>
                        <a href="/en/">
                            <span>English</span>
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-transfer"></use>
                            </svg>
                        </a>
                    </nav>
                </div>
            </div>
            <div class="navbar-menu -hidden-mobile">
                <div class="navbar-start">
                    <a class="navbar-item " href="/projects/">项目</a>
                    <a class="navbar-item " href="/guides/">指南</a>
                    <a class="navbar-item " href="/blog/">博客</a>
                    <a class="navbar-item " href="/activities/">活动</a>
                    <a class="navbar-item " href="/awesome/">关于我</a>
                </div>
                <div class="navbar-end">
                    <div class="navbar-item">
                        <div id="js-menu-search" class="navbar-search">
                            <input class="input" placeholder="请输入要搜索的关键词">
                            <svg class="icon" aria-hidden="true">
                                <use xlink:href="#icon-search"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="navbar-item">
                        <a class="translation" href="/en/">En</a>
                    </div>
                </div>
            </div>
        </nav>
    </header>
    <div class="home-background">
        <div id="svg-home-animation">
            <img src="image/home-background.svg">
        </div>
    </div>
    <div class="slogan">
        <div class="home-container">
            <h1 class="slogan-title"><img src="image/logo.svg" alt="谭朝红"></h1>
            <p class="slogan-description">
               <img src="image/logo.svg" alt="谭朝红">™ ：Hi~ 欢迎访谭朝红的博客。本站用于分享与计算机编程技战术相关的笔记，文档，教程，课程以及实战项目。
            </p>
            <div class="button-groups">
                <a class="home-button -shadow" href="/guides/sofastack-quick-start">进入博客</a>
                <a class="home-button -outline" href="https://github.com/ramostear" target="_blank">GitHub</a>
            </div>
            <div class="feature">
                <div class="feature-container">
                    <img class="img" src="image/java.svg"/>
                    <h2 class="feature-title">基础知识</h2>
                    <p class="home-description">
                        主要分享内容包括：开发工具，环境配置，基本原理，代码规范以及Debug调试等基础入门知识
                    </p>
                </div>
                <div class="feature-container">
                    <img class="img" src="image/framework.svg"/>
                    <h2 class="feature-title">应用框架</h2>
                    <p class="home-description">
                        分享主流开发框架的基本原理、使用场景、注意事项、整合方案以及实际项目中的最佳实践等
                    </p>
                </div>
                <div class="feature-container">
                    <img class="img" src="image/arch.svg"/>
                    <h2 class="feature-title">软件架构</h2>
                    <p class="home-description">
                        结合实际项目，分享当下热门软件架构设计的核心思想和实践经验，如常见的分层架构、事件驱动架构、微核架构、微服务架构以及云架构
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="charpter-description">
        <div class="home-container">
            <div class="container">
                <div class="description-container">
                    <h3 class="title">Java技术栈</h3>
                    <p class="home-description">
                        基于Spring Framework 家族体系，结合Java最新特性，从设计到研发，从前端到后端，从开发环境到生产环境，通过不同的角度，
                        从实际的项目出发去剖析“What、Why、How”这三个问题。
                    </p>
                </div>
                <div class="img-container">
                    <img style="width:530px" src="image/home-animation-1.svg">
                </div>
            </div>
            <div id="js-arch" class="container">
                <div class="img-container">
                    <h3 class="title">SaaS平台架构</h3>
                    <div class="-hidden-mobile">
                        <img src="image/cloud_1.svg">
                    </div>
                </div>
                <div class="description-container">
                    <table class="intro-table">
                        <tr class="row INIT">
                            <td class="col-1">多租户</td>
                            <td class="col-2">随着业务规模和系统复杂性的增长，传统的微服务管理运维也变得越来越快，开发人员和运维人员面临诸多挑战。OFAMesh 和 SOFAMosn 等项目。
                            </td>
                        </tr>
                        <tr class="row TR">
                            <td class="col-1">数据隔离</td>
                            <td class="col-2">应用程序可作为单个实体进行管理和部署。</td>
                        </tr>
                        <tr class="row BL">
                            <td class="col-1">权限控制</td>
                            <td class="col-2">通过替换而不是修改来创建变更。</td>
                        </tr>
                        <tr class="row TL">
                            <td class="col-1">可配置</td>
                            <td class="col-2">服务网格是致力于解决服务间通讯的基础设施层。</td>
                        </tr>
                        <tr class="row BR">
                            <td class="col-1">可扩展</td>
                            <td class="col-2">我们声明系统的最终状态，系统将不断向该状态驱动。</td>
                        </tr>
                    </table>
                </div>
                <div class="img-container -show-mobile">
                    <img style="width:530px" src="image/cloud_1.svg">
                </div>
            </div>
        </div>
    </div>


    <footer class="ss-footer">
        <div class="container">
            <div class="links">
                <div class="cate">
                    <h2 class="cate-title">资源</h2>
                    <a class="link" href="https://github.com/ramostear">Github</a>
                    <a class="link" href="https://gitee.com/ramostear">Gitee</a>
                </div>
                <div class="cate">
                    <h2 class="cate-title">社交媒体</h2>
                    <a class="link" href="https://zhuanlan.zhihu.com/sofastack">知乎专栏</a>
                    <a class="link" href="https://weibo.com/ramostear">新浪微博</a>
                    <a class="link" href="#">今日头条</a>
                </div>
                <div class="cate">
                    <h2 class="cate-title">友情链接</h2>

                    <a class="link" href="https://ant.design/">Ant Design</a>

                    <a class="link" href="https://eggjs.org/">Egg </a>

                    <a class="link" href="https://sqlflow.org">SQLFlow</a>

                    <a class="link" href="https://tech.antfin.com/open-source">更多</a>

                </div>

            </div>
            <div class="qrcode">
                <div>
                    <img class="qrcode-img" src="image/qrcode_1.png"/>
                    <p class="qrcode-desc">微信号</p>
                </div>
                <div>
                    <img class="qrcode-img" src="image/qrcode_2.png"/>
                    <p class="qrcode-desc">QQ群</p>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>
                © 2019 ramostear
                <a href="http://icp.chinaz.com/info?q=ramostear.com">黔ICP备15000250号-1 </a>
                <a href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=52230102000133">贵公网安备 52230102000133号</a>
            </p>
        </div>
    </footer>
</body>

</html>